<form class="form-inline">
    <div class="form-group mb-2">
        <label for="id" class="sr-only">Buscar por documento</label>
        <input type="text" readonly class="form-control-plaintext" id="id" value="Buscar por cédula">
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="cedula" class="sr-only">Password</label>
        <input type="text" class="form-control" id="cedula" placeholder="Cédula">
    </div>
    <button type="button" class="btn btn-dark" (click)="obtenerPersona()">Buscar</button>
</form>
<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Sexo</th>
        <th></th>
    </tr>
    <tr *ngFor="let item of personas; let i = index">
        <td>{{item.id}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.edad}}</td>
        <td>{{item.sexo}}</td>
        <td>
            <nav class="navbar navbar-light bg-light">
                <i class="fa fa-trash" (click)="eliminarPersona(item.id)" title="Eliminar"></i>
                <i class="fa fa-refresh" (click)="actualizarPersona(item.id)" title="Actualizar"></i>
            </nav>
        </td>
    </tr>
</table>
<button class="btn btn-dark" [routerLink]="['/personas']">Atrás</button>